html {
  height: 100%;
  width: 100%;
}

.onload {
  text-align: center;
  width: 50em;
  height: 25em;
  border-radius: 1.5em;
  background-color: blue;
}

.onload button {
  margin-left: 56em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.close-button {
  background-color: red;
  border-radius: 100%;
  border-style: none;
  width: 3em;
  height: 3em;
}

.onload p {
  margin-left: 4em;
  margin-right: 4em;
  font-size: 1.5em;
}

#open-commande {
  border-radius: 5em;
  height: 3em;
  width: 15em;
  background-color: red;
  border-style: none;
  color: white;
  font-weight: bolder;
  margin-left: 4em;
}

.type-commande {
  text-align: center;
  width: 30em;
  height: 20em;
  border-radius: 1.5em;
  background-color: blue;
}

.commande-header {
  background-color: red;
  color: white;
  height: 3.5em;
}

.commande-header h2 {
  font-weight: lighter;
  font-size: 1.5em;
  padding-top: 0.5em;
}

.type-commande-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-commande-body h4 {
  font-size: 1.25em;
  padding-top: 0.5em;
}

.type-commande-body-btns {
  display: flex;
  flex-direction: row;
}

.type-commande-body-btns button {
  border-radius: 0.5em;
  border-width: 0.0625em;
  width: 12em;
  height: 8em;
}

.in-pour-emporter {
  font-size: 1.25em;
}

.in-pour-livraison {
  font-size: 1.25em;
}

.emporter-commande {
  text-align: center;
  width: 50em;
  height: 25em;
  border-radius: 1.5em;
  background-color: blue;
}

.livraison-commande {
  text-align: center;
  width: 50em;
  height: 25em;
  border-radius: 1.5em;
  background-color: blue;
}

#close1 {
  background-color: red;
  border-style: hidden;
}

#close2 {
  background-color: red;
  border-style: hidden;
}

#close2 img {
  height: 3.5em;
}

.header {
  background-color: red;
  height: 5.7em;
  margin: -0.5em;
  width: 88.9em;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_left {
  display: flex;
  flex-direction: row;
}

.header_middle a {
  line-height: 1.4;
  font-family: Lato, sans-serif;
  text-transform: none;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  text-decoration: none;
}

.header_middle {
  display: flex;
  flex-direction: row;
}

.header_right {
  background-color: white;
  height: 5.7em;
  width: 15em;
  margin-left: 48em;
  border-color: grey;
  border: 0.0625em;
  align-items: center;
}

/* #langues {
  border-radius: 100%;
  border-color: white;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 1em;
} */

#SignIn {
  border-radius: 5em;
  width: 9em;
  height: 2em;
  border-color: red;
  color: red;
  font-size: 1.3em;
  font-family: Lato, sans-serif;
  text-transform: none;
  font-style: normal;
  font-weight: normalem;
  margin-top: 1em;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.votre_commande {
  font-family: Lato, sans-serif;
  font-size: 1.0625em;
  color: rgb(51, 51, 51);
  box-shadow: 0em 0.5em 0.5em lightgrey;
}

.commande_left {
  display: flex;
  flex-direction: row;
}

#emplacement{
  border-radius: 10%;
  border-color: lightgray;
}

.commande_right {
  display: flex;
  flex-direction: row;
  border: 0.5em lightgrey;
  margin-left: 40em;
}

.commande_right select {
  width: 10em;
  height: 2.5em;
  font-size: 1em;
  border-color: gray;
}

.menu_right {
  background-color: #f2f2f2;
  border-radius: 5%;
  width: 35em;
  margin-left: 53em;
  margin-top: 2em;
}

.submenu_right{
  display: flex;
  flex-direction: column;
  margin-left: 14em;
}

.submenu_right h3{
  color: red;
}

.submenu_right{
  font-family: Lato, sans-serif;
  color: rgb(51, 51, 51);
}

.submenu_right2{
  font-size: 1.0625em;
  font-family: Lato, sans-serif;
}

#total{
  color: #ea0808;
  font-style: normal;
  font-weight: bold;
}

.submenu_right2{
  display: flex;
  flex-direction: row;
}

#pay {
  border-radius: 5em;
  border-color: lightgray;
  display: flex;
  flex-direction: row;
  width: 30em;
  height: 3em;
  text-align: center;
  margin-left: 7em;
}

.Poutine{
  border-color: 0.06em lightgray;
}

.Shawarma{
  border-color: 0.06em lightgray;
}

.bottom {
  display: flex;
  flex-direction: row;
  margin-left: 40%;
}

.bottom p {
  line-height: 1.4;
  font-family: Lato, sans-serif;
  color: rgb(51, 51, 51);
  font-size: 1em;
}

.bottom img {
  height: 2em;
  width: 5em;
}